/BRAIN_AI
/AI打工人
*.zip
/chrome_user_data
下载黄金数据.bat
worldquant工具/worldquant工具/20260325 Advisory 3月新顾问衔接课 与 AI工具安装 入门/20260325 Advisory 3月新顾问衔接课 与 AI工具安装 入门.mkv
worldquant工具/worldquant工具/20260326 零基础上手 BRAIN-AI 篇免费系列公开课Class1/20260326 零基础上手 BRAIN-AI 篇免费系列公开课Class1.mkv
worldquant录屏 - 快捷方式.lnk
worldquant视频和工具/worldquant工具/20260326 零基础上手 BRAIN-AI 篇免费系列公开课Class1/20260326 零基础上手 BRAIN-AI 篇免费系列公开课Class1.mkv
worldquant视频和工具/worldquant工具/20260325 Advisory 3月新顾问衔接课 与 AI工具安装 入门/20260325 Advisory 3月新顾问衔接课 与 AI工具安装 入门.mkv
111worldquant录屏 - 快捷方式.lnk
Dig_Alpha_ai_gen/logs/simulation_log.20260424.jsonl
Dig_Alpha_loop/logs/simulation_log.20260425.jsonl
/Dig_Alpha_loop/iterations
